.light {
    position: absolute;
    top: 5vh;
    left: 30vw;
    height: 15vh;
}
#porteria {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 80vh;
    width: 100%;
}
#pelota{
    position: absolute;
    top: 90vh;
    left: 50vw;
    width:100 ;
    height:100;
}
#portero{
    position: absolute;
    top: 70vh;
    left: 50vw;
    width:300 ;
    height:300;
}
body, html {
    height: 100%;
  }